{% extends "main/base.html" %}
{% load static %}
{% block title %} Profil - {{ user_username}} {% endblock %}
{% block content %}

<div class="container emp-profile">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% if messages %}
<div id="alert-container">
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close przyciskAlert" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>

<script>
        setTimeout(function() {
          $('.alert').alert('close');
        }, 3000);

</script>
{% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{% static 'avatars/' %}{{ avatar_url }}" class="rounded-circle mb-3"
                     alt="Avatar"/>
                <!--                            <div class="file btn btn-lg btn-primary">-->
                <!--                                Change Photo-->
                <!--                                <input type="file" name="file"/>-->
                <!--                            </div>-->
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="profile-headEdit">
                <h3 class="odstepNazwa">
                    {{ user_username }}
                </h3>
                {% if edit == null %}
                <a href="avatar-change/">
                    <button class="btn btn-sm rounded-pill profilButtonsEdit">Zmień awatar</button>
                </a>
                <br>
                <a href="password-change/">
                    <button class="btn btn-sm rounded-pill profilButtonsEdit">Zmień hasło</button>
                </a>
                <br>
                <a href="/profile/{{ request.user.username }}/">
                    <button class="btn btn-sm rounded-pill profilButtonsEdit">Wróc do Mój profil</button>
                </a>

                {% elif edit %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-sm rounded-pill profilButtonsEdit" type="submit">Zmień</button>
                </form>
                {% endif %}
                {% if edit != null %}
                <a href="/profile/{{ request.user.username }}/edit">
                    <button class="btn btn-sm rounded-pill profilButtonsEdit">Powrót</button>
                </a>
                {% endif %}

            </div>
        </div>
    </div>
</div>
    {% endblock %}