{% extends "main/base.html" %}
{% block title %} Profil - {{ user_username}} {% endblock %}
{% block content %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary"><img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100"/>
            </button>
            <div class=" d-flex mt-2">
                <a href="avatar-change/">
                    <button class="btn1 btn-dark">Zmień awatar</button>
                </a>
            </div>
            <span class="name mt-3">{{ user_first_name }} {{ user_last_name }}</span> <span class="idd">@{{ user_username }}</span>
            <div class=" d-flex mt-2">
                <a href="password-change/">
                    <button class="btn1 btn-dark">Zmień hasło</button>
                </a>
            </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"><span><i
                    class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                    class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span></div>
            <div class=" px-2 rounded mt-4 date "><span class="join">{{ user_date_joined }}</span></div>
        </div>
    </div>
</div>
{% endblock %}
