{% extends "main/base.html" %}
{% block title %} Profil - {{ user_username}} {% endblock %}
{% block content %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle"
                         alt="Avatar"/>
                    <!--                            <div class="file btn btn-lg btn-primary">-->
                    <!--                                Change Photo-->
                    <!--                                <input type="file" name="file"/>-->
                    <!--                            </div>-->
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h3 class="nazwaUzytkownika">
                        {{ user_username }}
                    </h3><br>
                    <h5 class="daneUzytkownika fst-italic">
                        {{ user_first_name }} {{ user_last_name }}
                    </h5><br><br>

                    <h5 class="daneUzytkownika">
                        Posiada list: {{ lists_count }}
                    </h5>
                    <h5 class="daneUzytkownika">
                        Znajomi: {{ friends_count }}
                    </h5>
                    <h5 class="daneUzytkownika">
                        Dołączono: {{ user_date_joined | date:"d.m.Y"}}

                    </h5>

                </div>
            </div>
            <div class="col-md-3 ">
                {% if user.username == user_username %}
                <a href="edit/">
                    <button type="button" class="btn btn-lg rounded-pill profilButtons">Edytuj profil</button>
                </a>
                {% elif user.is_authenticated %}

                {% if friend_status == "Wysłano" %}
                    <a href="unfriend/">
                        <button type="button" class="btn btn-lg rounded-pill profilButtons">Anuluj zaproszenie</button>
                    </a>

                {% elif friend_status == "Oczekujące" %}

                    <a href="accept-invite/">
                        <button type="button" class="btn btn-lg rounded-pill profilButtons">Zaakceptuj zaproszenie</button>
                    </a>

                    <a href="unfriend/">
                        <button type="button" class="btn btn-lg rounded-pill profilButtons">Usuń zaproszenie</button>
                    </a>

                {% elif friend_status == "Przyjaciele" %}

                    <a href="unfriend/">
                        <button type="button" class="btn btn-lg rounded-pill profilButtons">Usuń znajomego</button>
                    </a>

                {% else %}

                    <a href="invite/">
                        <button type="button" class="btn btn-lg rounded-pill profilButtons">Dodaj znajomego</button>
                    </a>

                {% endif %}
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <br>
                    <p>Ostatnio utworzone listy</p>
                    <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <br>
                        <h3>Znajomi</h3>

                        Lista znajomych:
                        {% if friendsList %}
                        <ul>
                            {% for friend_username in friendsList %}
                            <li>
                                <a href="/profile/{{ friend_username }}">{{ friend_username }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if user.username == user_username %}
                        <p><a href="/search-for-user/">Wyszukaj użytkownika</a></p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}