{% extends "main/base.html" %}
{% block title %} Wyszukaj użytkownika {% endblock %}
{% block content %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <p>Wyszukaj użytkowników</p>
            <form method="POST" action="{% url 'search_for_user' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <p style="color:red; font-size:10px; text-align:center;"> {{ warning }} </p>
                <p style="text-align: center;"><button type="submit">Szukaj</button></p>
            </form>
            {% if users %}
            <ul>
                {% for user in users %}
                <li><a href="/profile/{{ user.username }}" style="text-decoration: none;">{{ user.username }}</a></li>
                {% endfor %}
            </ul>
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}