{% extends "main/base.html" %}
{% load static %}
{% block title %} Zaproszenia do znajomych {{ user_username}} {% endblock %}
{% block content %}
<div class="event-schedule-area-two friendInvitesBox">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="home" role="tabpanel">
                    <div class="table-responsive">
                        <span class="friendInvitesTitle text-center">Zaproszenia do znajomych</span>
                        {% if friend_invites %}
                        <ul>
                            {% for invite in friend_invites %}
                            <li>
                                <img class="avatarFriends rounded-circle mb-3"
                                     src="{% static 'avatars/'%}{{ invite.idZapraszajacego.profiluzytkownika.avatar }}">
                                {{ invite.idZapraszajacego.username }}
                                <a href="/profile/{{ invite.idZapraszajacego.username }}/accept-invite/">
                                    <button>Zaakceptuj</button>
                                </a>
                                <a href="/profile/{{ invite.idZapraszajacego.username }}/unfriend/">
                                    <button>Odrzuć</button>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        Brak nowych zaproszeń!
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}