{% extends "main/base.html" %}

{% block content %}
    <div class="form-container">
        <h1 class="witaj">Dodaj elementy do listy:</h1>

        <form method="post" enctype="multipart/form-data" id="DodajPrezentDoListyForm">
            {% csrf_token %}

            <div id="prezenty">
                <!-- Pole na pierwszy prezent -->
            </div>

            <button type="button" class="btn btn-outline-dark btn-lg createListForm" onclick="addPresentField()">Kolejny prezent</button>
            <button type="submit" class="btn btn-outline-dark btn-lg createListFormR" >Dodaj prezenty do listy</button>
            <button type="reset" class="btn btn-outline-dark btn-lg createListFormR">Wyczyść</button>

        </form>
    </div>

    <script>

        function removePresentField(button) {
            button.parentNode.remove();
        }

        function addPresentField() {
            const prezentyDiv = document.getElementById("prezenty");
            const newField = document.createElement("div");
            newField.innerHTML = `
                <label>Nazwa prezentu:</label>
                <input type="text" name="prezenty" class="form-control">
                <button type="button" class="btn btn-outline-danger btn-sm deleteRightButton" onclick="removePresentField(this)">Usuń prezent</button>
            `;

            prezentyDiv.appendChild(newField);
        }


    </script>
{% endblock %}