{% extends "main/base.html" %}

{% block content %}



    <div class="form-container">
        <h1 class="witaj">Stwórz nową listę</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_tytul">Tytuł listy:</label>
            {{ form.tytul }}
            <label for="id_opis">Opis listy:</label>
            {{ form.opis }}
            <button type="submit" class="btn btn-outline-dark btn-lg">Stwórz listę</button>
        </form>
    </div>

{% endblock %}