{% extends "main/base.html" %}
{% load static %}
{% block content %}
<h1 class="infoListyZnajomych">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-card-checklist"
         viewBox="0 0 16 16">
        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
    </svg>
    Listy znajomych
</h1>
<div class="event-schedule-area-two listyZnajomych">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content" id="myTabContent">
                <div class="table-responsive">
                    {% if listy %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center col-1 align-middle">Utworzono</th>
                            <th class="text-center col-1 align-middle">Avatar</th>
                            <th class="text-center col-2 align-middle">Właściciel</th>
                            <th class="text-center col-2 align-middle">Tytuł listy</th>
                            <th class="text-center col-3 align-middle">Opis</th>
                            <th class="text-center col-2 align-middle">Ilość prezentów</th>
                            <th class="text-center col-1 align-middle">Zobacz</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lista in listy %}
                        <tr class="inner-box">
                            <td>
                                <div class="event-date">
                                    <span>{{lista.dataUtworzenia|date:"d.m.Y" }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="avatar-img">
                                    {% if lista.loginWlasciciel.profiluzytkownika.avatar %}
                                    <img src="{% static 'avatars/'%}{{ lista.loginWlasciciel.profiluzytkownika.avatar }}"
                                         class="rounded-circle"
                                         alt="Avatar"/>
                                    {% else %}
                                    <img src="{% static 'avatars/default_profile_pic.jpg'%}" class="rounded-circle"
                                         alt="Avatar"/>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="event-wrap text-center">
                                    <h4><a href="/profile/{{ lista.loginWlasciciel }} ">{{ lista.loginWlasciciel }}</a>
                                    </h4>
                                </div>
                                <div class="text-center">
                                    <span>{{ lista.loginWlasciciel.first_name }} {{ lista.loginWlasciciel.last_name }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <h5>{{ lista.tytul }}</h5>
                                </div>

                            </td>
                            <td>
                                <div class="text-center">
                                    <span>{{ lista.opis }}</span>
                                </div>
                            </td>

                            <td>
                                <div class="text-center">
                                    <span>Ilość pozycji: {{ lista.ilosc_pozycji }}</span>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="przyciskiListyZnajomych d-flex align-items-center justify-content-center">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form method="POST" action="{% url 'specificList' lista.id %}">
                                                {% csrf_token %}
                                                <button id="poNajechaniuPurple">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                         fill="currentColor"
                                                         class="bi bi-card-text" viewBox="0 0 16 16">
                                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                                        <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                    {% else %}
                    <div class="text-center noFriends">
                            <h1>Brak dostępnych list!</h1>
                            <h2>Najpierw dodaj znajomego albo znajomy musi stworzyć listę.</h2>
                            <a href="/search-for-user">
                                <button class="btn btn-lg rounded-pill NoFriendsButtons">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                    Wyszukaj znajomego
                                </button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}