{% extends "main/base.html" %}

{% block content %}
<h1 class="pageTitle">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
         class="bi bi-card-checklist"
         viewBox="0 0 16 16">
        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
    </svg>
    Moje rezerwacje
</h1>
<div class="reservationsBox reservationBoxStyle">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content" id="myTabContent">
                <div class="table-responsive">
                    {% if prezenty_na_listach %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center col-2 align-middle">Tytuł listy</th>
                            <th class="text-center col-1 align-middle">Właściciel</th>
                            <th class="text-center col-2 align-middle">Dane właściciela</th>
                            <th class="text-center col-2 align-middle">Link do listy</th>
                            <th class="text-center col-2 align-middle">Nazwa prezentu</th>
                            <th class="text-center col-1 align-middle">Cena</th>
                            <th class="text-center col-2 align-middle">Link do prezentu</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lista_id, lista_info in prezenty_na_listach.items %}

                        {% for prezent_info in lista_info.prezenty %}
                        <tr class="inner-box">
                            <td>
                                <div class="reservationsText">
                                    <span>{{ lista_info.nazwa }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <span>{{ lista_info.nick }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <span>{{ lista_info.imie_nazwisko }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <a href="/specificList/{{lista_id}}/">
                                        <button class="btn btn-lg rounded-pill reservationsButton">
                                            Przejdź do listy
                                        </button>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <span>{{ prezent_info.1 }}</span>
                                </div>
                            </td>

                            <td>
                                <div class="text-center">
                                    <span>{{ prezent_info.3 }} zł</span>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="text-center">
                                    <a href="{{ prezent_info.2 }}">
                                        <button class="btn btn-lg rounded-pill reservationsButton">
                                            Prezent
                                        </button>
                                    </a>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                    {% else %}
                    <div class="text-center noFriends">
                        <h1>Brak rezerwacji!</h1>
                        <h2>Najpierw zarezerwuj prezent na liście znajomego.</h2>
                        <a href="/friendsLists">
                            <button class="btn btn-lg rounded-pill reservationsButtonSearch">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                     class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                </svg>
                                Listy znajomych
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}