{% extends "main/base.html" %}

{% block content %}
<div class="form-container">
    <h1 class="witaj2">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-card-checklist"
             viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
        </svg>
        {{ tytul }}
    </h1>
    <h5>
        {{ opis }}
    </h5>
    <h1 class="wyrownanieDoLewej">Zawartość:</h1>

    <div id="zawartosc">
        {% if zawartosc_listy %}
        <ul>
            {% for prezent in zawartosc_listy %}
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bag"
                     viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
                <span class="elementLista">   {{ prezent.nazwaPrezentu }} </span>
            </li>
            {% endfor %}
            <a href="/myLists/">
                <button type="submit" class="btn btn-lg rounded-pill createListFormR" >Powrót</button>
            </a>
        </ul>
        {% else %}
        <p class="elementLista">
        <div id="brakList">
            <h1>Brak dostępnych prezentów.</h1>
            <h1>Zedytuj listę, aby dodać prezenty!</h1>
            <br>
            <form method="POST" action="{% url 'addPresents' numerListy %}">
                {% csrf_token %}
                <button class="btn rounded-pill btn-lg przyciskWelcome ">Dodaj prezenty</button>
            </form>
        </div>
        </p>
        {% endif %}

    </div>
</div>

{% endblock %}