{% extends "main/base.html" %}
{% block title %} Create an account{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center formularzeP">
    <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn rounded-pill btn-lg przyciskRejestracja">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}