.sidenav{
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#111;
    overflow-x: :hidden;
    padding-top: 20px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.main{
    margin-left: 160px;
    padding: 0px 10px;
}

.witaj{
    margin-top: 5%;
    margin-bottom: 5%;
}

#opis{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.przyciskWelcome{
    margin-right: 5%;
    margin-left: 5%;
}

.form-container {
    margin: 0 auto;
    width: 80%;
}

.form-container label {
    display: block; /* Ustawia etykiety jako blokowe, aby były nad polami */
    margin-bottom: 5px; /* Opcjonalne: odstęp między etykietami a polami formularza */
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%; /* Rozciąga pola formularza na całą szerokość kontenera */
    padding: 8px;
    margin-bottom: 10px; /* Odstęp między polami formularza */
}

#loginScreen{
    float:right;
}

.createListForm{
    margin-bottom: 15%;
    margin-top: 3%;
    margin-right: 2%;
}
.createListFormR{
    margin-bottom: 15%;
    margin-top: 3%;
    margin-left: 2%;
    float: right;
}

.deleteRightButton{
    margin-bottom: 2%;
}

#listy{

}

#brakList{
    font-style: italic;
    color: red;
}


#listy ul{
    list-style: none;
}

#pojedynczaLista{
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 8%;
    box-shadow: 5px 5px 5px grey;
}
#przyciskiListy{
    text-align: center;
}

#przyciskiListy button{
    border: none;
    background-color: white;
}

#poNajechaniuBlue:hover{
    color: blue;
}

#poNajechaniuGreen:hover{
    color: green;
}

#poNajechaniuRed:hover{
    color: red;
}

#brakList{
    text-align: center;
}

.przyciskBrakList{
    text-decoration: none;
}



#guzikAddPresent{
    margin-bottom: 2%;
}

#zawartosc ul{
    list-style-type: none;
}

#zawartosc ul li{
    margin-bottom: 2%;
    margin-top: 2%;
}

.elementLista{
    margin-top: 2%;
    padding-left: 1%;
    margin-right: 3%;
}
.witaj2{
    margin-top: 5%;
    margin-bottom: 2%;
}
#poNajechaniuRed:hover{
    color: red;
}

#przyciskiListy button{
    border: none;
    background-color: white;
}
.trashRight{
    float: right;
}

.hidden {
        display: none;
    }