*{
	 font-family: Verdana, sans-serif;
}

.navbar-collapse img{
	width: 3.5%;
	height: 3.5%;
	margin: 10px;
}

.navbar-nav .baseLinks{
    color: white !important;
    font-weight: bold;
    margin-right: 20px;
}

.navbar-nav .baseLinks{
    margin-top: 3px;
    color: white;
    border: 2px solid #023E8A;
    border-radius: 5px;
}

.navbar-nav .baseLinks:hover{
    border: 2px solid white;
    border-radius: 5px;
    background-color: #03045E;
    color: white;
}

.navbar-nav{
    margin-left: 50px;
}

.main{
    padding: 0px 10px;
}

.witaj{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center
}

#opis{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.przyciskWelcome{
    margin-right: 5%;
    margin-left: 5%;
    background-color: #0096C7;
    color: white;
    border: 1px solid #0096C7;
}

.przyciskWelcome:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

nav{
    background-color: #023E8A;
}

.deleteRightButton{
    margin-bottom: 2%;
    background-color: #FF3333;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 2px solid #FF3333;
}

.deleteRightButton:hover{
    background-color: white;;
    border-radius: 5px;
    font-weight: bold;
    color: #FF3333;
    border: 2px solid #FF3333;
}


#brakList{
    font-style: italic;
    color: red;
}


#listy ul{
    list-style: none;
}

#pojedynczaLista{
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 8%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.7);
    background-color: #CAF0F8;
}

#przyciskiMojeListy{
    text-align: center;
}

#przyciskiMojeListy button{
    border: none;
    background-color: #CAF0F8 !important;
    margin-top: 8%;
}

#poNajechaniuPurple:hover{
    color: purple;
}

#poNajechaniuGreen:hover{
    color: green;
}

#poNajechaniuRed:hover{
    color: red;
}

#brakList{
    text-align: center;
}

.przyciskBrakList{
    text-decoration: none;
}

#guzikAddPresent{
    margin-bottom: 2%;
}

.witaj2{
    margin-top: 5%;
    margin-bottom: 2%;
}

#przyciskiListy button{ /* delete */
    border: none;
    background-color: white !important;
}

.hidden{
        display: none;
}

.przyciskRejestracja{
    background-color: #0096C7;
    color: white;
    border: 1px solid #0096C7;
}

.przyciskRejestracja:hover{
    background-color: #023E8A;
    color: white;
}

.formularzeP{
    margin-top: 5%;
}

.przyciskRejestracja a{
    color: white;
    text-decoration: none;
}

.przyciskAlert{
    border: none;
}

.stopka{
    background-color: black !important;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(9rem + 72px);
  padding-bottom: 9rem;
  background: linear-gradient(0deg, #023E8A 0%, #48CAE4 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}
header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}
header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #023E8A 0%, #48CAE4 100%);
}
header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}
header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}
header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}
header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

.btn-xl {
  padding: 1.5rem 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-brand {
  font-size: 20px;
  font-weight: bold;
}
.navbar-custom .navbar-nav .nav-item .welcomeLinks {
    color: white !important;
    font-weight: bold;
}

.welcomeButton{
    background-color: #ADE8F4;
}
.logo2{
    width: 4%;
    height: 4%;
    margin-right: 2%;
}

.flex-nowrap .bg-dark{
    background-color: #33373b !important;
    opacity: 0.9;
}


.dropdown-toggle svg{
	margin-bottom: 8px;
}

.dropdown-menu a{
    text-decoration: none;
    color: black;
}

.dropdown-menu button:hover{
    background-color: #023E8A;
    color: white;
}

.emp-profile{
    width:80%;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img img{
    width: 70%;
    height: 70%;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}

.profile-work p{
    font-size: 15px;
    font-weight: 600;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.nazwaUzytkownika{
    font-weight: bold;

}

.daneUzytkownika{
    color: black;
}
.profilButtons{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    margin-bottom: 5%;
    float:right;
}

.profilButtons:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.odstepNazwa{
    color: black;
    margin-bottom:5%;
}

.profile-headEdit{
    color: #333;
    text-align: center;
}

.profilButtonsEdit{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    margin-bottom: 5%;
}

.profilButtonsEdit:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}
.dropdown-item:hover a{
    color: white;
}

.listyZnajomych table{
    width: 100% !important;
}

.event-schedule-area-two .section-title .title-text h4 {
    margin: 0px 0 15px;
}

.event-schedule-area-two .primary-btn {
    margin-top: 40px;
}

.event-schedule-area-two .tab-content .table {
    margin-bottom: 0;
}
.event-schedule-area-two .tab-content .table thead {
    background-color: #023E8A;
    color: #fff;
    font-size: 20px;
}
.event-schedule-area-two .tab-content .table thead tr th {
    padding: 20px;
    border: 0;
}
.event-schedule-area-two .tab-content .table tbody {
    background: #fff;
}
.event-schedule-area-two .tab-content .table tbody tr.inner-box {
    border-bottom: 1px solid #dee2e6;
}
.event-schedule-area-two .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-date {
    text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-date span {
    font-size: 20px;
    line-height: 50px;
    font-weight: normal;
}
.event-schedule-area-two .tab-content .table tbody tr td {
    padding: 30px 20px;
    vertical-align: middle;
}

.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h4 a {
    font-size: 20px;
    line-height: 20px;
    color: #cf057c;
    text-decoration: none;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h4 a:hover {
    color: #4125dd;
}

.event-schedule-area-two .tab-content .table tbody tr td .primary-btn {
    margin-top: 0;
    text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-img img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.listyZnajomych{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.avatar-img{
    text-align: center;
}

.avatar-img img{
    width: 80%;
    height: 80%;
}

.przyciskiListyZnajomych{
    text-align: center;
}

.przyciskiListyZnajomych button{
    border: none;
    background-color: white !important;
    margin-top: 8%;
}
td .text-center h5{
    margin-bottom: 0px;
}

.searchButton{
    margin-bottom: 7px;
    margin-left: 5%;
}

.searchButtonView{
    border: none;
    background-color: #023E8A;
    color: white;
}

.avatarFriends{
    width: 60%;
    height: 60%;
}

.listyZnajomych2{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 3%;
    margin-left: 18%;
    margin-right: 18%;
}

.listyZnajomych3{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}



.noFriends{
    margin-top: 3%;
}

.myProfileFriends .row .col-md-4{
    margin-left: 0px;
    margin-top: 2%;
}
.nazwaZnajomy{
   color: #cf057c;
   text-decoration:none;
   font-weight:bold;
}

/* Common */

.pageTitle{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
}

/* Buttons */

.buttonRed{
    color: red;
}

.buttonGreen{
    color: green;
}

.buttonMagenta{
    color: #cf057c;
}

.createListFormButton{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    width: 40%;
    margin-left: 1%;
    margin-top: 5%;
}

.createListFormButtonSave{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    width: 40%;
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
}

.createListFormButton:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.createListFormButtonSave:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.addPresentsButtonAdd{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
}

.addPresentsButtonAdd:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.addPresentsButtonReturn{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    width: 20%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    float: right;
}

.addPresentsButtonReturn:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.addPresentsButtonLink{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    width: 5%;
    margin-left: 1%;
}

.addPresentsButtonLink:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.addPresentsButtonSave{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    width: 20%;
    margin-left: 1%;
}

.addPresentsButtonSave:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.addPresentsButtons button{
    border: none;
    background-color: white !important;
    margin-right: 2%;
    float: right;
}

.addPresentsButtonEnd{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
}

.addPresentsButtonEnd:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.reservationsButtonSearch{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    margin-bottom: 5%;
    margin-top: 3%;
}

.reservationsButtonSearch:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
    margin-bottom: 5%;
    margin-top: 3%;
}

.reservationsButton{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    width: 80%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.reservationsButton:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.NoFriendsButtons{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    margin-bottom: 5%;
    margin-top: 3%;
}

.NoFriendsButtons:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

.friendsButtons{
    background-color: #cf057c;
    color: white;
    border: 1px solid #cf057c;
    margin-bottom: 5%;
}

.friendsButtons:hover{
    background-color: #023E8A;
    color: white;
    border: 1px solid #023E8A;
}

/* createList.html */

.createListBox{
    width:70%
    padding: 3%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    background: #fff;
}

.createListBox form{
    margin: 0 auto;
    width: 80%;
}

.createListBox form label{
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 26px;
}

.createListBox form input[type="text"],
.createListBox form textarea{
    width: 98%;
    padding: 10px;
    margin-bottom: 2%;
    margin-left: 1%;
}

/* addPresentsToList.html */

.addPresentsBox{
    width:70%
    padding: 3%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    background: #fff;
}

.addPresentsDescription{
    text-align: center;
}

.addPresentsContentInfo{
    font-size: 24px;
    margin-left: 2%;
}

.addPresentsContent ul{
    list-style-type: none;
}

.addPresentsContent ul li{
    margin-bottom: 2%;
    margin-top: 2%;
}

.addPresentsNone{
    margin-top: 2%;
    padding-left: 2%;
    margin-right: 3%;
}

.addPresentsNone span{
    margin-top: 1%;
}

/* myGiftReservations.html */


.reservationsBox .tab-content .table {
    margin-bottom: 0;
}

.reservationsBox .tab-content .table thead {
    background-color: #023E8A;
    color: #fff;
    font-size: 20px;
}

.reservationsBox .tab-content .table thead tr th {
    padding: 20px;
    border: 0;
}

.reservationsBox .tab-content .table tbody {
    background: #fff;
}

.reservationsBox .tab-content .table tbody tr.inner-box {
    border-bottom: 1px solid #dee2e6;
}

.reservationsBox .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
}

.reservationsText{
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-weight: normal;
}

.reservationsBox .tab-content .table tbody tr td {
    padding: 30px 20px;
    vertical-align: middle;
}

.reservationBoxStyle table{
    width: 100% !important;
}

.reservationBoxStyle{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

/* profile */

.EditAvatarSize{
    width:50%;
    margin-left:25%;
    margin-top:2%;
}
.EditPasswordSize{
    width:50%;
    margin-left:25%;
    margin-top:2%;
}

.EditPasswordMargin{
    margin-top:2%;
}

.btn-close {
    background-color: white !important;
    font-size: 40px;
    float:right;
}

.profileListScroll{
   height: 80vh;
   overflow-y: auto;
   overflow-x: hidden;
}

.card-body{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
}

.profileHr{
    height: 1px;
    background-color: rgba(0,0,0,0.5);
    border: none;
}

