{% extends "main/base.html" %}

{% block content %}
<h1 class="witaj">Witaj w serwisie PresentPlanner!</h1>

<div id="opis">
    <h3>Celem serwisu jest ułatwnienie kupna idealnego prezentu naszym bliskim. Po utworzeniu konta, każdy użytkownik ma
        możliwość
        utworzenia swoich list wymarzonych prezentów na dane wydarzenie, aby ułatwić kupno prezentu bliskim!<br>
        W celu korzystania z serwisu należy posiadać konto.
    </h3>
    {% if not user.is_authenticated %}
        <h1 class="witaj">Co chcesz zrobić?</h1>
        <a href="/login/">
            <button type="button" class="btn btn-outline-dark btn-lg przyciskWelcome ">Zaloguj się</button>
        </a>
        <a href="/register/">
            <button type="button" class="btn btn-outline-dark btn-lg przyciskWelcome">Zarejestruj się</button>
        </a>
    {% endif %}
</div>
{% endblock %}